<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script type='text/javascript' src="test1.js"></script>
    <script type='module' src="test2.js"></script>
    <script type='module' src="vue.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Title</title>
</head>
<body>

<h1 id="myH1">HELLO CAMPUS</h1>
<h2 id="myH2">Abracadbra</h2>
<p> - MODULE SPA</p>
<p> - [02/08/2021]</p>


<div id="counter">
    Compteur: {{ compteur }}
</div>

<div id="headshot">
    Têtes : {{headshot}}
</div>

<div class="hello">
    Je peux mettre ce que je veux : {{htmlVUEjs}}
</div>

<div id="myDIVhtml">
    Je suis du HTML : {{myReturnVueJS}} : Encore du HTML : {{myReturnVueJS}}
</div>

<div id="two-way-binding">
    <p>{{ message }}</p>
    <input v-model="message" />
</div>

<div id="H1-two-way-binding">
    <h1>{{ h1message }}</h1>
    <input v-model="h1message" />
</div>

<div id="H2-click-to-change">
    <h2> {{ h2message }}</h2>
    <button v-on:click="changeMessage">Light</button>
    <input v-model="h2message" />

</div>

<div id="Checkbox">
    <h1> {{ h1BlueMessage }}</h1>
    <h2> {{ h2RedMessage }}</h2>
    <h3> {{ h3RedMessage }}</h3>
    <input type=checkbox > Power RED </input>
</div>










<script>
    this.addEventListener('load', function (){
    console.log(gregtest1),
    console.log(gregtest2)
});
</script>

</body>
</html>