<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
    <script type='module' src="vue.js"></script>
    <script src="https://unpkg.com/vue@next"></script>


    <title>Title</title>
</head>
<body>

<div id="app">

    <h1 :class="{red: H1redColor}"> {{ message }}</h1>
    <h2 :class="{red: H2redColor}"> {{ message2 }}</h2>

    <input type="text" v-model="addMessage"/>
    <button v-on:click="ajouterMessage">Let's GO</button> <br><br>

    <input type="checkbox" v-model="H1redColor">
    <label>Change color H1</label> <br>
    <input type="checkbox" v-model="H2redColor"/>
    <label>Change color H2</label> <br>
    <input type="checkbox" v-model="ATM"/>
    <label>ATM-CONSULTING</label>


    <p v-bind:title="message" v-for="campusStudent in students">
        {{ campusStudent }}
    </p>

    <img :class="{blind: ATM}" src="atm.jpg">

</div>

<script>
    const vm = Vue.createApp({
        data(){
            return {
                message: 'h1 - Hello Campus',
                message2: 'h2 - Red',
                students: ['Greg', 'Steve', 'Mati'],
                addMessage: '',
                H1redColor:false,
                H2redColor: false,
                ATM: false
            }
        },
        methods:{
            ajouterMessage(){
            this.message2 = this.addMessage
                this.addMessage = ''
            },
        }

    }).mount('#app');
</script>



</body>
</html>